spring:
  application:
    name: fx-deals-importer

  datasource:
    url: jdbc:postgresql://localhost:5432/fx_deals_db
    username: postgres
    password: postgres

  jpa:
    hibernate:
#      ddl-auto: update
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080
